<?xml version="1.0" encoding="UTF-8"?>
<!--
  (c) Copyright IBM Corporation 2014, 2017.
  This is licensed under the following license.
  The Eclipse Public 1.0 License (http://www.eclipse.org/legal/epl-v10.html)
  U.S. Government Users Restricted Rights:  Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<plugin
        xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <header>
      <identifier id="com.urbancode.air.plugin.SendEmailPublic" version="3" name="Send Email"/>
      <description>
          The plugin adds new file utilities beyond what is provided in the standard FileUtils plugin.</description>
      <tag>Utilities/Misc</tag>
    </header>

	<!-- ==================================== -->
    <!--        Send an SMTP email            -->
    <!-- ==================================== -->
    <step-type name="Send SMTP Email">
      <description>Send an SMTP email</description>
      <properties>
        <property name="toList" required="true">
          <property-ui type="textAreaBox"
                       label="To List"
                       description="Comma separated list of email addresses to send an email to"/>
        </property>
        <property name="subject">
          <property-ui type="textAreaBox"
                       label="Subject"
                       description="The email subject"/>
        </property>
        <property name="message" required="true">
          <property-ui type="textAreaBox"
                       label="Message"
                       description="The message contents"/>
        </property>
        <property name="attachment" required="false">
          <property-ui type="textAreaBox"
                       label="Attachment"
                       description="The attachment (with full path) to send with the mail. Ex - /home/manisha/file.txt."/>
        </property>
        <property name="host">
          <property-ui type="textBox"
                       label="SMTP Host"
                       description="The SMTP Host server (Ex: mail.smtp.host). If left blank, the Mail Server Host property from the
                          General Settings will be retrieved. Must have General Settings privileges for this capability."/>
        </property>
        <property name="port">
          <property-ui type="textBox"
                       label="SMTP Port"
                       description="The SMTP server port (Ex: mail.smtp.port). If left blank, the Mail Server Port property from the
                          General Settings will be retrieved. Must have General Settings privileges for this capability."/>
        </property>
        <property name="secure">
          <property-ui type="selectBox"
                       label="SMTP Secure TLS"
                       description="Select to enable SMTP TLS Security. (Ex: mail.smtp.starttls.enable)
                          If left blank, the Secure Mail Server Connection property from the
                          General Settings will be retrieved. Must have General Settings privileges for this capability."/>
            <value label=''>none</value>
            <value label='False'>false</value>
            <value label='True'>true</value>
        </property>
        <property name="fromAddress">
          <property-ui type="textBox"
                       label="Sender Email Address"
                       description="THE SMTP Sender Email Address. If left blank, the Mail Server Sender Address property from the
                          General Settings will be retrieved. Must have General Settings privileges for this capability."/>
        </property>
        <property name="username">
          <property-ui type="textBox"
                       label="Username"
                       description="THE SMTP username. The authentication properties will not be pulled from the General Settings."/>
        </property>
        <property name="password">
          <property-ui type="secureBox"
                       label="Password"
                       description="THE SMTP password. The authentication properties will not be pulled from the General Settings."/>
        </property>
      </properties>
      <post-processing>
        <![CDATA[
          if (properties.get("exitCode") != 0) {
              properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
          }
          else {
              properties.put("Status", "Success");
          }
       ]]>
      </post-processing>

      <command program="${GROOVY_HOME}/bin/groovy">
	    <arg value="-cp" />
        <arg path="classes:lib/uDeployRestClient.jar:lib/activation-1.1.1.jar:lib/javamail-1.4.1.jar:lib/securedata.jar:lib/jettison-1.1.jar:lib/commons-codec.jar:lib/CommonsUtil.jar" />
        <arg file="send_smtp_email.groovy" />
        <arg file="${PLUGIN_INPUT_PROPS}"/>
        <arg file="${PLUGIN_OUTPUT_PROPS}"/>
      </command>
    </step-type>
</plugin>
